<div id="center-panel-{{_id}}" class="overlay" style="">

	<script>
		$( document ).ready(function() {
			 $('#closer-{{_id}}').on('click', function () {
				$("#center-panel-{{_id}}").css({display:'none'});
			 });
		 });
	</script>

	<style>

		.overlay {
			position: fixed;
			width: 3333px;
			top: 0;
			left: -1111px;
			z-index: 999;
			background: rgba(52, 52, 52, 0.65);
			height: 4444px;
		}

		.overlay__inner {
			position: fixed;
			top: 80px;
			left: 0;
			right: 0;
			max-width: 600px;
			margin: 0 auto;
			padding: 0;
			background: {{templateAttributes.color}};
		}

		h2.popup {
			line-height:100%;
			text-align:center;
			font-size: 36px;
			padding: 15px 4% 0;
			color: white;
			letter-spacing:-1px;
			margin-bottom: 0;
		}

		p.popup {
			text-align:center;
			padding: 0 4%;
			font-size:15px;
		}

		.overlay__inner a#closer-{{_id}} {
			float: right;
			cursor: pointer;
			color: white;
			border: 1px solid #AEAEAE;
			border-radius: 30px;
			background: #605F61;
			font-size: 20px;
			display: inline-block;
			line-height: 0px;
			padding: 10px 6px;
			margin: -10px -15px 0 0px;
		}

		.overlay__inner a#closer-{{_id}}:hover {
			background-color:#694161;
		}

		.overlay__inner a.pop-up-never-again {
			font-weight:bold;
			font-size: 13px;
			color: #652750;
			padding-bottom: 20px;
			display:block;
			text-align:center;
		}

		.overlay__inner a.pop-up-never-again:hover {
			text-decoration:underline;
		}

		a#signup-{{_id}} {
		    background-color: #78CF7C;
				border: none;
		    color: white;
		    padding: 11px 30px;
		    text-align: center;
		    text-decoration: none;
		    display: inline-block;
		    font-size: 16px;
				float: right;
				box-shadow: 2px 2px 2px #888888;
		}


	</style>

  <div class="overlay__inner">
    <div><a id="closer-{{_id}}">x</a></div>
	<div>
	  <h2 class="popup">{{templateAttributes.windowTitle}}</h2>
   	<p class="popup">{{templateAttributes.windowText}}</p>
		<a href="{{templateAttributes.linkLocation}}" id="signup-{{_id}}" name="signup" value="signup" target="_blank" >{{templateAttributes.buttonText}}</a>
	</div>
  </div>
</div>
