<script>
$( document ).ready(function() {
	var panel = $('#slide-panel');
	var scrollpx = '-300';

	$('#opener').on('click', function () {
		if (panel.hasClass("visible")) {
			panel.removeClass('visible').animate({
				'left': '-300px'
			});
		} else {
			panel.addClass('visible').animate({
				'left': '0'
			});
		}
		return false;
	 });

	 var scrollTo = function(panel, value){
		if (scrollpx != value){
			scrollpx = value;
			panel.animate({
				 'left': scrollpx + 'px'
			}, 500);
		}
	 }

	 $(window).scroll(function() {
		var panel = $('#slide-panel');
		if (jQuery(this).scrollTop() > 100) {
			if (!panel.hasClass("visible")) {
				 console.log('trigger 260')
				 scrollTo(panel, '-260');
			}
		} else {
			if (!panel.hasClass("visible")) {
				console.log('trigger 300')
				scrollTo(panel, '-300');
			}
		}
	 });
 });
</script>
<style>

body {
    overflow-x: hidden;
}

#slide-panel {
    width:300px;
    padding:10px;
    background: {{templateAttributes.color}};
		min-height: {{templateAttributes.tabTitle.length * 15}}px;
    position: fixed;
    top: 200px;
    left: -300px;
		z-index: 999;
}

#opener {
    background: {{templateAttributes.color}};
    border-radius: 0;
    color: white;
    float: right;
    font-weight: bold;
    height: {{templateAttributes.tabTitle.length * 15}}px;
    line-height: 20px;
    margin: -10px -50px 0 -60px;
    width: 50px;
    writing-mode: vertical-rl;
		font-size: 20px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
}

a {
	text-decoration: none;
}

a#signup {
    background-color: #78CF7C;
    border: none;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	float: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

h3 {
	color: white;
	text-decoration: none;
}

div.teaser2 {
	padding-right: 10px;
}

</style>

<div id="slide-panel" >
	<a class="btn" id="opener">
		<div class="teaser">{{templateAttributes.tabTitle}}</div>
		<div class="teaser2">{{templateAttributes.tabTeaser}}</div>
	</a>
	<div>{{templateAttributes.html}}</div>
</div>
