<script>
$( document ).ready(function() {
	 $('#opener-{{_id}}').on('click', function () {
		 var panel = $('#slide-panel');
		 if (panel.hasClass("visible")) {
			 panel.removeClass('visible').animate({
				 'left': '-300px'
			 });
		 } else {
			 panel.addClass('visible').animate({
				 'left': '0'
			 });
		 }
		 return false;
	 });
	 $('#closer-{{_id}}').on('click', function () {
	 	$("#slide-panel-{{_id}}").css({display:'none'});
 	 });
 });
</script>
<style>

body {
    overflow-x: hidden;
}

#slide-panel-{{_id}} {
		font-family: Helvetica,Arial,'Helvetica Neue',sans-serif;
    width:300px;
    height:300px;
    padding:10px;
    position: absolute;
    top: 50%;
    left: -300px;
		z-index: 999;
		box-shadow: 4px 4px 4px #C3C3C3;
		background: {{templateAttributes.color}};
}

a#signup-{{_id}} {
    background-color: #78CF7C;
		border: none;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		float: right;
		box-shadow: 2px 2px 2px #888888;
}

.hopopener-{{_id}} {
	 	cursor: pointer;
		white-space: nowrap;

    padding: 6px 12px;
		color: white;
		width: 44px;

		font-weight: bold;
		font-size: 20px;

		line-height: 15px;
    text-align: center;
		writing-mode: vertical-rl;

    -ms-touch-action: manipulation;
    touch-action: manipulation;

		box-shadow: 4px 4px 4px #B99191;

		-webkit-border-top-right-radius: 15px;
		-webkit-border-bottom-right-radius: 15px;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomright: 15px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;

		float: right;
		margin: -10px -50px 0px -60px;
		background: {{templateAttributes.color}};
		height: {{templateAttributes.tabTitle.length * 15}}px;
}

.hopcloser-{{_id}} {
		float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 20px;
    display: inline-block;
    line-height: 0px;
    padding: 10px 6px;
    margin: -20px -60px 0 0px;
}

.hopopener-{{_id}}:hover, .hopcloser-{{_id}}:hover {
	text-decoration: none;
	color: #fff;
}

</style>
<div id="slide-panel-{{_id}}" >
	<a class="hopopener" id="opener-{{_id}}">{{templateAttributes.tabTitle}}</a>
	<a class="hopcloser" id="closer-{{_id}}">x</a>

	<h3>{{templateAttributes.windowTitle}}</h3>
	<p>{{templateAttributes.windowText}}</p>
	<a href="{{templateAttributes.linkLocation}}" id="signup-{{_id}}" name="signup" value="signup" >{{templateAttributes.buttonText}}</a>
</div>
