<script>
$( document ).ready(function() {
	 var panel = $('#slide-panel-{{_id}}');
	 var scrollpx = '-300';

	 $('#opener-{{_id}}').on('click', function () {

		 if (panel.hasClass("visible")) {
			 panel.removeClass('visible').animate({
				 'left': '-300px'
			 });
		 } else {
			 panel.addClass('visible').animate({
				 'left': '0'
			 });
		 }
		 return false;
	 });
	 $('#closer-{{_id}}').on('click', function () {
	 	$("#slide-panel-{{_id}}").css({display:'none'});
 	 });

	 //if template value equals
	 if ('{{templateAttributes.tabTeaser}}' != ''){

		 $("#slide-panel-content-{{_id}}").css({'padding-right':'0px'});

		 var scrollTo = function(panel, value){
			if (scrollpx != value){
				scrollpx = value;
				panel.animate({
					 'left': scrollpx + 'px'
				}, 500);
			}
		 }

		 $(window).scroll(function() {
			if (jQuery(this).scrollTop() > 100) {
				if (!panel.hasClass("visible")) {
					 console.log('trigger 260')
					 scrollTo(panel, '-260');
				}
			} else {
				if (!panel.hasClass("visible")) {
					console.log('trigger 300')
					scrollTo(panel, '-300');
				}
			}
		 });
	 }

 });
</script>
<style>

body {
    overflow-x: hidden;
}

#slide-panel-{{_id}} {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		font-family: Helvetica,Arial,'Helvetica Neue',sans-serif;
    width:300px;
    height:300px;
    padding:10px;
    position: absolute;
    top: 50%;
    left: -300px;
		z-index: 999;

		-webkit-box-shadow: 8px 8px 0px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow:    8px 8px 0px 0px rgba(50, 50, 50, 0.31);
		box-shadow:         8px 8px 0px 0px rgba(50, 50, 50, 0.31);

		background: {{templateAttributes.color}};
}

a#signup-{{_id}} {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
    background-color: #78CF7C;
		border: none;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		float: right;

		-webkit-box-shadow: 8px 8px 0px 0px rgba(50, 50, 50, 0.31);
		-moz-box-shadow:    8px 8px 0px 0px rgba(50, 50, 50, 0.31);
		box-shadow:         8px 8px 0px 0px rgba(50, 50, 50, 0.31);

}

#opener-{{_id}} {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	 	cursor: pointer;
		white-space: nowrap;

    padding: 6px 12px;
		color: white;
		width: 44px;

		font-weight: bold;
		font-size: 20px;

		line-height: 15px;
    text-align: center;
		writing-mode: vertical-rl;

    -ms-touch-action: manipulation;
    touch-action: manipulation;

		-webkit-box-shadow: 10px 7px 0px -2px rgba(50, 50, 50, 0.31);
		-moz-box-shadow:    10px 7px 0px -2px rgba(50, 50, 50, 0.31);
		box-shadow:         10px 7px 0px -2px rgba(50, 50, 50, 0.31);

		-webkit-border-top-right-radius: 15px;
		-webkit-border-bottom-right-radius: 15px;
		-moz-border-radius-topright: 15px;
		-moz-border-radius-bottomright: 15px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;

		float: right;
		margin: -10px -50px 0px -60px;
		background: {{templateAttributes.color}};
		min-height: 50px;
		height: {{templateAttributes.tabTitle.length * 15}}px;
}

#closer-{{_id}} {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 20px;
    display: inline-block;
    line-height: 0px;
    padding: 10px 6px;
    margin: -20px -60px 0 0px;
}

#opener-{{_id}}:hover, #closer-{{_id}}:hover {
	text-decoration: none;
	color: #fff;
}

div.teaser2 {
	padding-right: 15px;
}

h3 {
	color: white;
	text-decoration: none;
}

a {
	text-decoration: none;
}

#slide-panel-content-{{_id}}{
	padding-right: 30px;
}

</style>
<div id="slide-panel-{{_id}}" >

	<a id="opener-{{_id}}">
		<div class="teaser">{{templateAttributes.tabTitle}}</div>
		<div class="teaser2">{{templateAttributes.tabTeaser}}</div>
	</a>
	<a id="closer-{{_id}}">x</a>
	<div id="slide-panel-content-{{_id}}">
	<h3>{{templateAttributes.windowTitle}}</h3>
	<p>{{templateAttributes.windowText}}</p>
	<a href="{{templateAttributes.linkLocation}}" id="signup-{{_id}}" name="signup" value="signup" target="_blank" >{{templateAttributes.buttonText}}</a>
	</div>
</div>
