<script src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
<script>
$( document ).ready(function() {
	 $('#opener').on('click', function () {
		 var panel = $('#slide-panel');
		 if (panel.hasClass("visible")) {
			 panel.removeClass('visible').animate({
				 'left': '-300px'
			 });
		 } else {
			 panel.addClass('visible').animate({
				 'left': '0'
			 });
		 }
		 return false;
	 });
	 $('#closer').on('click', function () {
	 	$("#slide-panel").css({display:'none'});
 	 });
 });
</script>
<style>

body {
    overflow-x: hidden;
}

#slide-panel {
    width:300px;
    height:300px;
    padding:10px;
    position: absolute;
    top: 50%;
    left: -300px;
		z-index: 999;
		box-shadow: 4px 4px 4px #C3C3C3;
		background: {{templateAttributes.color}};
}

#opener {
		box-shadow: 4px 4px 4px #B99191;
    border-radius: 0;
    color: white;
    float: right;
    font-weight: bold;
    line-height: 15px;
    margin: -10px -50px 0 -60px;
    width: 44px;
    writing-mode: vertical-rl;
		font-size: 20px;
		border-top-right-radius: 15px;
		border-bottom-right-radius: 15px;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		background: {{templateAttributes.color}};
		height: {{templateAttributes.tabTitle.length * 15}}px;
}

a#signup {
    background-color: #78CF7C;
		box-shadow: 2px 2px 2px #888888;
    border: none;
    color: white;
    padding: 11px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
		float: right;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px
}

.btn2 {
		float: right;
    width: 25px;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 20px;
    display: inline-block;
    line-height: 0px;
    padding: 10px 6px;
    margin: -20px -60px 0 0px;
}
</style>

<div id="slide-panel" >
	<a class="btn" id="opener">{{templateAttributes.tabTitle}}</a>
	<a class="btn2" id="closer">x</a>

	<h3>{{templateAttributes.windowTitle}}</h3>
	<p>{{templateAttributes.windowText}}</p>
	<a href="http://numero-cnj.thisisnumero.internal/adk/lbs/" id="signup" name="signup" value="signup" >{{templateAttributes.buttonText}}</a>
</div>
