<md-card class="md-cyan-theme" flex>
  <md-toolbar class="md-cyan-theme">
      <div class="md-toolbar-tools">
        <h2>Action Editor</h2>
        <span flex></span>
        <md-switch ng-model="site.selected.active" aria-label="Active?" class="md-cyan-theme flex" >Active</md-switch>
      </div>
  </md-toolbar>

  <md-card-content style="background-color: rgb(255,255,255)">

    <form name="actionform" ng-submit="vm.submit(site)">

      <md-input-container class="md-block">
        <label>Name</label>
        <input type="text" name="name" ng-model="site.selected.name"  required md-maxlength="30" minlength="2">
        <div ng-messages="actionform.name.$error" ng-show="actionform.name.$invalid">
          <div ng-message="required">This is required!</div>
          <div ng-message="md-maxlength">That's too long!</div>
          <div ng-message="minlength">That's too short!</div>
        </div>
      </md-input-container>

      <md-input-container class="md-block">
        <label>Response Type</label>
        <md-select ng-model="site.selected.responsetype" placeholder="Select a response type">
          <md-option ng-value="responseType.value" ng-repeat="responseType in vm.responseTypes">{{ responseType.display }}</md-option>
        </md-select>
      </md-input-container>

      <action-html-replace ng-show="vm.shouldDisplay('html-replace')"
        site="site"
        responsedatalocation="vm.responseDataLocation"
        responsepredefinedtemplatereplace="vm.responsePredefinedTemplateReplace"
        responsepredefinedtemplatecolor="vm.responsePredefinedTemplateColor">
      </action-html-replace>

      <action-html ng-show="vm.shouldDisplay('html')"
        site="site"
        responsedatalocation="vm.responseDataLocation"
        responsepredefinedtemplateappend="vm.responsePredefinedTemplateAppend"
        responsepredefinedtemplatecolor="vm.responsePredefinedTemplateColor">
      </action-html>

      <md-divider></md-divider>

      <md-list>
        <label>Action Events</label>
          <md-list-item ng-repeat="event in site.selected.events">
            {{vm.getEventName(event)}}
            <md-icon style="margin-right:0px" md-svg-icon="delete" ng-click="vm.removeEvent(event)"></md-icon>

          </md-list-item>
          <md-button aria-label="Add" class="md-fab" ng-click="vm.addEvent()">
              <md-icon md-svg-icon="plus"></md-icon>
          </md-button>
      </md-list>

       <div ng-show="!site.selected.system" layout="row" flex layout-align="end center">
          <md-button type="submit" aria-label="Eat cake">
            <i class="material-icons" style="margin-left: -5px;">Update</i>
          </md-button>

        </div>

    </form>

</md-card-content>
</md-card>
