<md-input-container class="md-block">
  <label>Element to replace</label>
  <input type="text" ng-model="site.selected.elementtoreplace" >
</md-input-container>

<md-radio-group ng-model="site.selected.responsedatafrom">
  <label>Response Data From</label>
  <md-radio-button ng-repeat="d in responsedatalocation" ng-value="d.value" aria-label="{{ d.display }}">
         {{ d.display }}
  </md-radio-button>
</md-radio-group>


<div layout="row" ng-show="site.selected.responsedatafrom == 'uri'">
  <md-input-container flex>
    <label>Location</label>
    <textarea  type="text" ng-model="site.selected.responsedatalocation" ></textarea>
  </md-input-container>
</div>

<label ng-show="site.selected.responsedatafrom == 'code'">Code</label>

<div layout="row"  flex style="position: relative;height: 200px;" ng-show="site.selected.responsedatafrom == 'code'">
  <div ui-ace
        flex
        class="ace-editor"
        style="margin: 0;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0"
        ace="aceInitCallback" ng-model="site.selected.responsedata">
    </div>
</div>

<div layout="column" ng-show="site.selected.responsedatafrom == 'predefined'">
  <h3>Configure Your Template</h3>
  <div layout="row">
    <div flex>
      <md-radio-group ng-model="site.selected.templateAttributes.side">
        <label>Template Type</label>
        <md-radio-button ng-repeat="d in responsepredefinedtemplatereplace" ng-value="d.value" aria-label="{{ d.display }}">
               {{ d.display }}
        </md-radio-button>
      </md-radio-group>
    </div>
  </div>
</div>

<div flex>
  Preview
  <iframe template-preview-frame="" site="site"  width="100%" height="500px"></iframe>
</div>
