<md-card class="md-cyan-theme" flex>
  <md-toolbar class="md-cyan-theme" >
    <div class="md-toolbar-tools">
      <h2>Event Editor</h2>
      <span flex></span>
      <md-switch ng-model="site.selected.active" aria-label="Active?" class="md-cyan-theme flex" >Active</md-switch>
    </div>
  </md-toolbar>
  <form>

    <md-input-container>
      <label>Name</label>
      <input type="text" ng-model="site.selected.name" >
    </md-input-container>

    <md-input-container>
      <label>Page</label>
      <input type="text" ng-model="site.selected.page" >
    </md-input-container>

    <md-input-container>
      <label>Element Selector</label>
      <input type="text" ng-model="site.selected.selector" >
    </md-input-container>
    <md-autocomplete placeholder="Event Type"
                     md-selected-item="site.selected.event"
                     md-search-text="vm.searchText"
                     md-no-cache="vm.disableCaching"
                     md-items="item in vm.querySearch(vm.searchText)"
                     md-item-text="item.display">
      <span md-highlight-text="vm.searchText">{{item.display}}</span>
    </md-autocomplete>
    <md-input-container>
      <label>Fired Message</label>
      <input type="text" ng-model="site.selected.message" >
    </md-input-container>
    <md-input-container>
      <label>Data From</label>
      <input type="text" ng-model="site.selected.dataFrom" >
    </md-input-container>

    <md-input-container>
      <label>Tag</label>
        <input type="text" ng-model="site.selected.tag" >
    </md-input-container>

    <md-input-container>
      <md-switch ng-model="site.selected.isActionEvent" aria-label="Is Action Event?" class="md-cyan-theme flex" >Is Action Event</md-switch>
    </md-input-container>

    <div ng-show="!site.selected.system" layout="row" flex layout-align="end center">
      <md-button class="md-fab"  ng-click="vm.add(site)" aria-label="Eat cake">
        <i class="material-icons" style="margin-left: -5px;">Update</i>
      </md-button>
    </div>

</form>
<md-card>
