<md-card class="md-cyan-theme" flex>
  <md-toolbar class="md-cyan-theme">
            <div class="md-toolbar-tools">
              <h2>HopUp Editor</h2>
              <span flex></span>
              <md-switch ng-model="site.selected.active" aria-label="Active?" class="md-cyan-theme flex" >Active</md-switch>
            </div>
  </md-toolbar>
  <md-card-content style="background-color: rgb(255,255,255)">
  <form>


  <md-input-container class="md-block">
    <label>Name</label>
    <input type="text" ng-model="site.selected.name" >
  </md-input-container>


  <md-list class="md-block">
    <label>Segments</label>
      <md-list-item ng-if="site.selected.segments.length < 1">
        -- No '<i>Segments</i>' added --
      </md-list-item>
      <md-list-item ng-repeat="segment in site.selected.segments">

        <segment-viewer site="site" segment="segment" flex layout></segment-viewer>

        <md-icon style="margin-right:0px" md-svg-icon="delete" ng-click="vm.removeSegment(segment)"></md-icon>
      </md-list-item>
    </md-list>
    <div layout="row" flex layout-align="end center">
      <md-button class="md-raised md-primary" aria-label="Add Segment" ng-click="vm.addSegment()" layout-align="end center">
          <md-icon md-svg-icon="plus"></md-icon>
      </md-button>
    </div>

<md-divider></md-divider>

  <md-list>
    <label>Actions</label>
    <md-list-item ng-if="site.selected.actions.length < 1">
      -- No '<i>Actions</i>' added --
    </md-list-item>
      <md-list-item ng-repeat="action in site.selected.actions">
        {{vm.getActionName(action)}}
        <md-icon style="margin-right:0px" md-svg-icon="delete" ng-click="vm.removeAction(action)"></md-icon>
      </md-list-item>
  </md-list>
  <div layout="row" flex layout-align="end center">
    <md-button class="md-raised md-primary" aria-label="Add Action" ng-click="vm.addAction()" layout-align="end center">
        <md-icon md-svg-icon="plus"></md-icon>
    </md-button>
 </div>

<md-divider></md-divider>

  <md-list>
    <label>Action Events</label>
      <md-list-item ng-if="site.selected.events.length < 1">
        -- No '<i>Action Events</i>' added --
      </md-list-item>
      <md-list-item ng-repeat="event in site.selected.events">
        {{vm.getEventName(event)}}
        <md-icon style="margin-right:0px" md-svg-icon="delete" ng-click="vm.removeEvent(event)"></md-icon>
      </md-list-item>
  </md-list>
  <div layout="row" flex layout-align="end center">
    <md-button class="md-raised md-primary" aria-label="Add Event" ng-click="vm.addEvent()" >
        <md-icon md-svg-icon="plus"></md-icon>
    </md-button>
  </div>

<md-divider></md-divider>

  <div ng-show="!site.selected.system" layout="row" flex layout-align="end center">
    <md-button class="md-fab"  ng-click="vm.add(site)" aria-label="Eat cake">
      <i class="material-icons" style="margin-left: -5px;">Update</i>
    </md-button>
  </div>

</form>
</md-card-content>
</md-card>
