<md-card class="md-cyan-theme" flex>
  <md-toolbar class="md-cyan-theme">
    <div class="md-toolbar-tools">
      <h2>Segment Editor</h2>
      <span flex></span>
      <md-switch ng-model="site.selected.active" aria-label="Active?" class="md-cyan-theme flex" >Active</md-switch>
    </div>
  </md-toolbar>
  <md-card-content>
    <form>

      <md-input-container>
        <label>Name</label>
        <input type="text" ng-model="site.selected.name" >
      </md-input-container>

      <md-input-container>
        <label>Page</label>
        <input type="text" ng-model="site.selected.page" >
      </md-input-container>

      <md-input-container class="md-block">
        <label>Parameter Type</label>
        <md-select ng-model="site.selected.listen" placeholder="Select a parameter type">
          <md-option ng-value="listenType.value" ng-repeat="listenType in vm.listenTypes">{{ listenType.display }}</md-option>
        </md-select>
      </md-input-container>

      <div ng-if="site.selected.listen != vm.listenTypes[3].value" >
        <md-input-container>
          <label>Threshold</label>
          <input type="text" ng-model="site.selected.threshold" >
        </md-input-container>
      </div>

      <div ng-if="site.selected.listen == vm.listenTypes[3].value" >
        <md-input-container>
          <label>Key</label>
          <input type="text" ng-model="site.selected.key" >
        </md-input-container>

        <md-input-container>
          <label>Value</label>
          <input type="text" ng-model="site.selected.value" >
        </md-input-container>
      </div>

      <md-input-container class="md-block">
        <label>Tag</label>
        <input type="text" ng-model="site.selected.tag" >
      </md-input-container>

      <div ng-show="!site.selected.system" layout="row" flex layout-align="end center">
        <md-button class="md-fab"  ng-click="vm.add(site)" aria-label="Eat cake">
          <i class="material-icons" style="margin-left: -5px;">Update</i>
        </md-button>
      </div>

    </form>
  </md-card-content>
</md-card>
