<div md-theme="{{$root.theme='default'}}" md="{{$root.title=title}}"></div>

<md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-click="ul.toggleList()" class="md-whiteframe-4dp" >
    <md-button class="side-menu-link" ng-class="{ 'md-hue-2': type.displayList() }">
      <span>Active Hopups</span>
    </md-button>

    <md-list>
      <md-list-item ng-repeat="hopup in site.hopups" ng-class="{'selected' : site.selectedHopup._id === hopup._id }">
        <md-button ng-click="vm.selectHopup(hopup)">
          {{hopup.name}}
          <md-tooltip md-direction="right">
            {{hopup._id}}
          </md-tooltip>
        </md-button>
      </md-list-item>
    </md-list>
</md-sidenav>

<md-content  ng-show="vm.displayHopups()" flex layout-padding layout="column" md-scroll-y class="seethru">
  <div flex>
    <md-tabs md-selected="selectedIndex" >
      <md-tab label="Last Week"></md-tab>
      <md-tab label="Last Day"></md-tab>
      <md-tab label="Last Hour"></md-tab>
      <md-tab label="."></md-tab> <!-- This tab needs removing when https://github.com/angular/material/issues/5439 is fixed -->
    </md-tabs>
    <div ng-if="selectedIndex==0" flex layout="column" layout-padding>
      <div class="md-whiteframe-z3 leak">
        <div google-chart chart="chartObjectDay" ></div>
      </div>
    </div>
    <div ng-if="selectedIndex==1" flex layout="column" layout-padding>
      <div class="md-whiteframe-z3 leak">
        <div google-chart chart="chartObjectHour" ></div>
      </div>
    </div>
    <div ng-if="selectedIndex==2" flex layout="column" layout-padding>
      <div class="md-whiteframe-z3 leak">
        <div google-chart chart="chartObjectMin" ></div>
      </div>
    </div>
  </div>
  <md-divider></md-divider>

  <div class="md-whiteframe-z3 leak">
      {{calcStatSigString}}
  </div>



</md-content>
